.adiciona {
    display: flex;
    flex-direction: column;
    background-color: var(--cinza-fundo);
    padding: 1rem;
    position: relative;
}
.adiciona__label {
    font-weight: 700;
    font-size: 1.5rem;
}
.adiciona__input {
    border: none;
    padding: 1.3rem;
    border-bottom: 2px solid var(--cinza-linha);
    margin-top: 0.5rem;
    outline: none;
}
.adiciona span {
    position: relative;
    opacity: .5;
    left: 5px;
    bottom: 60px;
}
.adiciona__botao {
    border: none;
    color: var(--branco);
    background-color: var(--azul-padrao);
    padding: 0.8rem 1.5rem;
    margin-top: 0.5rem;
}
@media screen and (min-width: 1024px) {
    .adiciona{
        padding: 9rem;
    }
    .adiciona__input{
        padding: 2rem;
    }
    .adiciona span {
        left: 10px;
        bottom: 75px;
    }
    .adiciona__botao{
        padding: 2rem;
    }
}