.produtos {
    background-color:var(--cinza-fundo);
    
}
.produtos__item{
    position: relative;
}

.produtos__item-excluir{
    position: absolute;
    top: 6px;
    right: 40px;
    text-align: center;
}
.produtos__item-editar {
    position: absolute;
    top: 5px;
    right: 10px;
    text-align: center;
}